html {
  font-family: 'Montserrat', sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  overflow-y: scroll;
}

* {
  box-sizing: inherit;
}

*:before {
  box-sizing: inherit;
}

*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  font-family: 'Montserrat',
    sans-serif;

}

a {
  background-color: transparent;
  text-decoration: none;
  margin-right: 1rem;
}

a:active,
a:hover {
  outline-width: 0;
}

li {
  list-style: none !important;
  color: #000;
}

.header {
  text-align: center;
}

.project-page,
h5,
h6,
p,
footer,
a {
  font-family: 'Montserrat', sans-serif !important;
}




@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }

  a {
    margin-right: 0.5rem;
  }
}


.banner {
  display: flex;
  align-items: center;
  background-color: #fff;
  position: relative;

}

.row {
  position: relative;
}

.main-text {
  color: #fff;
  position: absolute;
  width: 100%;
  left: 0;
  top: 45%;
  transform: translateY(-50%);
  text-align: center;
  mix-blend-mode: difference;
  z-index: 9;
}

.main-image {
  width: 480px;
  margin: 0 auto;

}

.side-image {
  width: 350px;
  position: absolute;

}

.left {
  left: 2px;
  top: 0;
}

.right {
  right: 5px;
  bottom: 0;
}

/* about intro/blurp */
.about-intro {
  padding: 100px 0;
  position: relative;
}

.inner-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  width: 33%;
}

.content>p {
  margin: 20px 0 200px;
}

.images {
  width: 60%;
  height: 900px;
  position: relative;
  z-index: 7;
}

.top-right {
  position: absolute;
  width: 340px;
  top: 0;
  right: 5px;
  z-index: 4;
}

.bottom-left {
  position: absolute;
  width: 280px;
  left: 15px;
  bottom: 0;
}

.black-box {
  background-color: black;
  height: 500px;
  width: 650px;
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
}

.black-box.overlay {
  z-index: 7;
  background-color: #f4c20b;
  mix-blend-mode: overlay;
}

@media all and (max-width: 508px) and (min-width: 320px) {
  .banner {
    display: block;
  }

  .main-text {
    font-size: 1.2rem;
    letter-spacing: 12px;
  }

  .main-image {
    width: 100%;
  }

  .side-image {
    display: none;
  }

  .left {
    left: 5px;
  }

  .right {
    right: 5px;
  }

  .inner-content {
    display: inline;
  }

  .content {
    width: 100%;
    margin: 20px 0 80px;
  }

  .images {
    height: 400px;
    width: 100%;
  }

  .top-right {
    width: 50%;
  }

  .bottom-left {
    width: 50%;
  }

  .black-box {
    width: 100%;
    height: 360px;
    top: 65%;
  }
}

@media all and (max-width: 886px) and (min-width: 508px) {
  .main-text {
    font-size: 1.8rem;
    letter-spacing: 16px;
  }

  .main-image {
    width: 300px;
  }

  .side-image {
    width: 190px
  }


  .inner-content {
    display: inline;
  }

  .content {
    width: 100%;
  }

  .images {
    height: 380px;
    width: 100%;
  }

  .top-right {
    width: 50%;
  }

  .bottom-left {
    width: 50%;

  }

  .black-box {
    width: 100%;
    height: 450px;
    top: 60%;
  }
}