/* purgecss start ignore */
@tailwind base;
/* purgecss end ignore */

h1 {
    @apply text-5xl;
}

h2 {
    @apply text-3xl;
}

h3 {
    @apply text-2xl;
}

/* @font-face {
    font-family: Anisette-Bold;
    font-weight: 600;
    src: url(/fonts/anisette-bold.otf) format("otf");
} */

@font-face {
    font-family: MonumentExtended-Regular;
    font-weight: 300;
    src: url(/fonts/MonumentExtended-regular.otf) format("otf");
}

@font-face {
    font-family: MonumentExtended-Ultrabold;
    font-weight: 600;
    src: url(/fonts/MonumentExtended-Ultrabold.otf) format("otf");
}

@tailwind components;

@tailwind utilities;